@import "../../assets/sass/mixin";

.authenticated-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 30px 0;

  .greeting-title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 64px;
    text-align: center;
  }

  .toggle-text {
    padding: 0;
    @include form-width;
    text-align: left;
  }
}
