@import "../../assets/sass/base";

.float-bar {
  position: fixed;
  right: 0;
  bottom: 50px;
  transition: transform .3s;
  transform: translate3d(90%, 0, 0);

  .animation {
    animation: translateLeft 1s infinite ease-out;
    color: #722ed1;
  }

  &:hover {
    transform: translate3d(0, 0, 0);

    .animation {
      display: none;
    }
  }
}

.float-button-wrpper {
  display: inline-block;
  margin: 0 10px;
  width: 70px;

  .float-button {
    height: 70px;
  }

  .float-button-icon {
    font-size: 30px;
  }
}

.divider {
  position: relative;

  &::before {
    transition: background-color .3s;
  }

  &.focus::before {
    background-color: #722ED1;
    transition: background-color .3s;
  }
}

@keyframes translateLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-10px, 0, 0);
  }
}
