@import "../../assets/sass/mixin";

.article-detail {
  margin: 0 10%;
  padding: 50px 0;
}

.article-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  .left-column {
    flex-shrink: 0;
    width: 150px;
  }

  .right-column {
    flex: 1;
    word-break: break-all;
    white-space: pre-wrap;

    .article-title {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 30px;
    }

    .article-content {
      line-height: 30px;
      font-size: 18px;
      white-space: pre-wrap;
    }

    .bottom-bar {
      @include article-bottom-bar(85px);
    }
  }
}

.author {
  width: 100px;
  text-align: center;
  @include singer-ellipsis;
}

.comment {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.comment-item {
  padding-left: 10px;

  .comment-content {
    font-size: 18px;
    color: #252933;
    white-space: pre-wrap;
  }

  .bottom-bar {
    @include article-bottom-bar(85px);
  }
}

.comment-list {
  border-top: solid 1px rgba(5, 5, 5, .06);
}
