@import "mixin";

$polar-green: #237804;
$geek-blue: #2f54eb;
$golden-purple: #722ed1;
$dust-red: #f5222d;

#root, .App {
  height: 100%;
}

.spin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.vertical-centering {
  @include vertical-centering;
}

.form-style {
  margin: 0 auto;
  @include form-width;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.divider {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e5e7eb;
    content: '';
  }

  &.focus::before {
    background-color: #722ED1;
    transition: background-color .3s;
  }
}

.polar-green {
  background-color: $polar-green;

  &:hover {
    background-color: #52c41a !important;
  }
}

.golden-purple {
  background-color: $golden-purple;
}

.geek-blue {
  background-color: $geek-blue;

  &:hover {
    background-color: #597ef7 !important;
  }
}

.dust-red {
  background-color: $dust-red;

  &:hover {
    background-color: #ff4d4f !important;
  }
}
