@mixin form-width {
  width: 80%;
  max-width: 600px;
}

@mixin vertical-centering {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin ellipsis($lineCount) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
}

@mixin singer-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin article-bottom-bar($marginTop) {
  margin-top: $marginTop;
  text-align: right;
  color: gray;
  font-size: 14px;
}
